
<!--<input type="text" ng-model="query"/>
  {{query}}
	 <select ng-model="order">
      <option value="username">organize by name</option>
      <option value="content">organize by content</option>
  </select> -->
 <!-- link to come back to home page and read articles-->
 <br>
 <a href="#!/"> Come back to articles </a>

  <div ng-controller="comCtrl">
    <div ng-repeat="comment in comments|filter:{content:query}|orderBy:order">
      <h2>{{title}}</h2>
      <p>

         <strong>{{comment.username}}</strong><br>
         {{comment.content}}
      </p>

    </div>
  </div>