body{
  font-family: Arial;
  font-size: 1em;
  background-color: #FFEBCD;
  
}

div#bandeau{
  font-size: 2em;
  background-color: #6495ED;
  height: 60px;
}

div#sommaire{

}

.bloc {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 20px #555; 
    -webkit-box-shadow: 0 0 20px #555; 
    box-shadow: 0 0 20px #555; 
    width:400px;
}
.bloc h1 {
    margin:0;
    padding:5px;
    font-size:1.5em;
    color:#fff;
    background-color:#9DADC6;
    border:1px solid #8E98A4;
    border-bottom:0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}


